[submodule "Ignis/external/glfw"]
	path = Ignis/external/glfw
	url = https://github.com/JamesLiu12/glfw
[submodule "Ignis/external/imgui"]
	path = Ignis/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Ignis/external/bullet3"]
	path = Ignis/external/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "Ignis/external/assimp"]
	path = Ignis/external/assimp
	url = https://github.com/assimp/assimp
